body {
	background: linear-gradient(90deg, #49a09d, #5f2c82);
  font-family: 'Roboto', sans-serif;
}
.left{
  float: left;
  height: 100px;
  width: 100px;
  padding-left: 65px;
}
.right{
  float: right;
  height: 100px;
  width: 100px;
  padding-right: 65px;
}
.pie{
  float: left;
  height: 620px;
  width: 620px;
}
h1 { 
  color: #ffffffd7; 
  font-family: 'Roboto', sans-serif;
   font-size: 36px; 
   font-weight: 800; 
   line-height: 50px; 
   margin: 0 0 0 0px; 
   text-align: center; 
   text-transform: uppercase; 
}
h2 { 
  color: #ffffffd7; 
  font-family: 'Roboto', sans-serif;
  font-weight: 800; 
  margin: 0 0 0px; 
  text-align: center; 
  text-transform: uppercase; 
}
h2 { 
  color: #ffffffd7; 
  font-family: 'Roboto', sans-serif;
  font-weight: 800; 
  margin: 0 0 0px; 
  text-align: center; 
  text-transform: uppercase; 
  }
h3 { 
  color: #ffffffd7; 
  font-family: 'Roboto', sans-serif;
  font-weight: 800; 
  margin: 0 0 0px; 
  text-align: left; 
  text-transform: uppercase; 
  padding-left: 20px;
}
.pie_title{
  text-align: center;
} 
.container0{
  position: absolute;
  max-width:1100px;
  max-height: 2200px;
  padding-top: 50px;
  padding-bottom: 10px;
  margin-left: 20px;
}
.containerh {
  padding-bottom: 40px;
}
.containertopchatters {
  padding-top: 5px;
}
.MostUsedEmote{
  float: left;
  width: 290px;
}
.pie_chart{
  float: right;
  width: 810px;
  height: 600px;
}
.text_pieChart{
  position: absolute;
  margin-top: 400px;
  margin-left: 500px;
  background: rgba(255, 255, 255, 0.671);
  border-radius:6px;
}
.t{
  color: #030303de; 
  font-family: 'Roboto', sans-serif;
  font-weight: 420; 
  font-size: 14px;
  margin: 0;
}
.more_data{
  width: 400px;
}
.Moredatatitle
{
  float: left;
  margin-bottom: 10px;
}
table 			      { 
  border-collapse: collapse; 
  background:rgba(255, 255, 255, 0);
  border-radius:6px;
  overflow:hidden;
  width:100%;
  margin:10 auto;
  position:relative;
  font-family: 'Roboto', sans-serif;
  text-align: center; 
}
th, td {
  border: 0px ;
}
th {
  background-color: #55608f;
  color: rgba(255, 255, 255, 0.733);
  text-align: center;
  font-size: 18px; font-weight: 700; 
}
tr{
  text-align: center;
  color: rgba(0, 0, 0, 0.849); 
  font-size: 14px; font-weight: 600; 
}
tr:nth-child(even) {
  background-color: #f2f2f249;
}
.prueba
{
  width: 1000px;
}
.note
{
  font-size: 10px;
  margin-left: 10px;
  color: rgba(255, 255, 255, 0.562);
}